[mpd]
enabled = true
hostname = 0.0.0.0
port = 6600

[audio]
output = audioresample ! audioconvert ! audio/x-raw,rate=48000,channels=2,format=S16LE ! filesink location=/audio/fifo

[local]
media_dir = /var/lib/mopidy/music

[http]
enabled = true
hostname = 0.0.0.0
port = 6680

[client]
name = {{HOSTNAME}}
