[mpd]
enabled = true
hostname = 0.0.0.0
port = 6600

[audio]
output = audioresample ! audioconvert ! opusencn bitrate=12800 ! oggmux ! filesink location=/audio/mopidy_${hostname}.fifo

[local]
media_dir = /var/lib/mopidy/music

[http]
enabled = true
hostname = 0.0.0.0
port = 6680

[client]
name = {{HOSTNAME}}
