[mpd]
enabled = true
hostname = 0.0.0.0
port = 6600

[audio]
output = alsasink

[local]
media_dir = /var/lib/mopidy/music

[http]
enabled = true
hostname = 0.0.0.0
port = 6680

[client]
name = {{HOSTNAME}}
